@import "Variables.module";
@import "mixins";

.header {
  background-color: $black;
  padding: 32px 24px 33px 24px;

  @include tablet() {
    padding: 32px 40px 33px 39px;
  }

  &__container {
    display: flex;
    gap: 1.5rem;
    max-width: 69.375rem;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    z-index: 1000;

    @include tablet() {
      gap: 2.625rem;
      justify-content: flex-start;
    }
    @include desktop() {
      justify-content: space-between;
    }
  }

  .burgerMenu {
    user-select: none;
    @include desktop() {
      display: none;
    }
  }
  .blackScreen {
    position: absolute;
    top: 90px;
    height: 100vh;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    z-index: 10;
    opacity: 0.4;
  }
  .blackScreenFullScreen {
    position: fixed;
    top: 0;
  }
  .burgerMenuOpen {
    position: absolute;
    background-color: white;
    z-index: 100;
    top: 90px;
    left: 0;
    padding: 24px;
    right: 0;
    border-radius: 0 0 8px 8px;
    width: 100%;
    border: none;
    animation: navBarOpenAnimation 200ms ease-in-out;
    transform-origin: top;

    @include tablet() {
      padding-left: 40px;
      padding-right: 39px;
      padding-bottom: 67px;
    }

    &::backdrop {
      background-color: red;
    }

    & > section > div {
      margin-top: -8px;
      @include tablet() {
        margin-top: 84px;
      }
    }
    & > section > div:not(:first-child) {
      margin-top: 68px;
      @include tablet() {
        margin-top: 84px;
      }
    }
    & > section > div:last-child {
      margin-bottom: 11px;
      @include tablet() {
        margin-bottom: 0;
      }
    }
  }

  .logo {
    cursor: pointer;
    display: flex;
  }

  .cart {
    user-select: none;
    @include tablet() {
      margin-left: auto;
    }
    @include desktop() {
      margin-left: 0;
    }
  }

  .cartOpenContainer {
    position: absolute;
    width: calc(100% - 48px);
    max-width: 1110px;
    margin: auto;
    z-index: 100;
    top: 112px;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    & > div {
      background-color: white;
      max-width: 377px;
      padding: 28px;
      padding-block: 32px;
      width: 100%;
      border-radius: $borderRadius;
      position: relative;

      .topContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 31px;
      }
      .loadingSpinner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      .cartTotalPrice {
        display: flex;
        justify-content: space-between;
        margin-top: 32px;
        margin-bottom: 24px;

        p {
          font-size: 15px;
          opacity: 0.5;
          line-height: 25px;
        }

        b {
          font-size: 18px;
          line-height: 25px;
        }
      }

      h2 {
        font-size: 18px;
        line-height: 25.59px;
        letter-spacing: 1.29px;
        text-transform: uppercase;
      }

      .removeBtn {
        opacity: 0.5;
        font-size: 15px;
        text-decoration: underline;

        &:hover {
          color: $brown;
          opacity: 1;
        }
      }

      .checkoutBtn {
        width: 100%;
        background-color: $brown;
        cursor: pointer;
        color: $white;
        height: 48px;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 1px;

        &:hover {
          background-color: $lighterBrown;
        }

        a {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 24px;
      }

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }

      div:first-child {
        display: flex;
        gap: 1rem;
      }

      img {
        border-radius: $borderRadius;
      }

      b {
        font-size: 15px;
        line-height: 25px;

        span {
          opacity: 0.5;
          font-size: 14px;
        }
      }

      .quantityBtn {
        background-color: $gray;
        display: flex;
        gap: 11.5px;
        align-items: center;
        justify-content: center;
        width: 96px;
        height: 32px;

        b {
          font-size: 13px;
          letter-spacing: 1px;
        }

        button {
          background-color: transparent;
          outline: none;
          border: none;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          opacity: 0.25;
        }

        button:hover {
          opacity: 1;
          color: $brown;
          transition: 100ms;
        }

        button:disabled,
        button:disabled:hover {
          color: black;
          opacity: 0.25;
          cursor: default;
        }
      }
    }
  }

  .headerNavContainer {
    display: none;

    @include desktop() {
      display: flex;
      gap: 34px;
      text-transform: uppercase;
    }
  }

  .headerNavLink {
    color: white;
    font-weight: bold;
    font-size: 13px;
    transition: 100ms;

    &:hover {
      color: $brown;
    }
  }

  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    display: flex;
  }
}

.bestGears {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 69.375rem;
  margin: auto;
  margin-block: 120px;
  padding-inline: 24px;

  @include tablet() {
    padding-left: 39px;
    padding-right: 40px;
  }

  @include desktop() {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0;
    text-align: start;
    margin-block: 160px;
  }

  .bestGearsImage {
    border-radius: $borderRadius;
  }

  .bestGearsTextContainer {
    @include tablet() {
      max-width: 573px;
    }

    @include desktop() {
      max-width: 445px;
    }
  }
  .bestGearsTitle {
    text-transform: uppercase;
    font-size: 28px;
    margin-block: 32px;
    letter-spacing: 1px;

    span {
      color: $brown;
    }

    @include tablet() {
      font-size: 40px;
      letter-spacing: 1.43px;
    }
  }

  .besGearsParagraph {
    opacity: 0.5;
    font-size: 15px;
  }
}

.bestGearsHome {
  margin-block: 120px;
  @include tablet() {
    margin-block: 96px;
  }

  @include desktop() {
    margin-block: 200px;
  }
}

.footer {
  background-color: $lighterBlack;
  color: $white;

  .footerContainer {
    max-width: 69.375rem;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    padding-inline: 24px;

    @include tablet() {
      padding-left: 39px;
      padding-right: 40px;
      gap: 32px;
      align-items: flex-start;
    }

    @include desktop() {
      display: grid;
      grid-template-columns: 2fr 1fr;
      align-items: flex-end;
      width: 100%;
      padding: 0;
    }
  }
  .topFooter {
    position: absolute;
    top: 0;
    width: 101px;
    height: 4px;
    background-color: $brown;

    @include tablet() {
      left: 39px;
    }

    @include desktop() {
      left: 0;
    }
  }

  .footerLogo {
    margin-top: 52px;
  }

  .footerNavContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    gap: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;

    @include tablet() {
      align-items: flex-start;
      justify-content: center;
      flex-direction: row;
      gap: 34px;
    }
  }

  .footerNavLink {
    font-size: 13px;

    @include desktop() {
      &:hover {
        color: $brown;
        transition: 100ms;
      }
    }
  }

  .footerBottomContainer {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;

    @include tablet() {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      margin-bottom: 46px;
      margin-top: 32px;
    }
    @include desktop() {
      grid-area: 3 / 1;
      grid-column: 1 / 3;
      width: 100%;
    }
  }

  p {
    text-align: center;
    font-size: 15px;
    opacity: 0.5;

    @include tablet() {
      text-align: start;
    }
    @include desktop() {
      max-width: 540px;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    width: max-content;
    align-items: center;
    justify-content: center;
    margin-bottom: 38px;

    @include tablet() {
      margin-bottom: 0;
    }

    @include desktop() {
      position: relative;
      bottom: 5.25rem;
    }

    li {
      filter: invert(100%) sepia(9%) saturate(7500%) hue-rotate(258deg)
        brightness(118%) contrast(108%);
      transition: 100ms;
    }

    li:hover {
      @include desktop() {
        filter: invert(84%) sepia(39%) saturate(6521%) hue-rotate(329deg)
          brightness(92%);
      }
    }
  }
}

@keyframes navBarOpenAnimation {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes navBarCloseAnimation {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
